<p>interpolation works!</p>
<h4>string interpolation</h4>
<p>{{name}}</p>
<h4>number interpolation</h4>
<p>{{number}}</p>
<h4>balence</h4>
<p>{{balence}}</p>
<h4>boolean interpolation</h4>
<p>{{boolean}}</p>
<h4>undefined interpolation</h4>
<p>{{undefined}}</p>
<h4>array interpolation</h4>
<p>{{array}}</p>
<h4>object interpolation</h4>
<p>{{object}}</p>
<p>{{object|json}}</p>
<h4>user</h4>
<p>{{user}}</p>

<p>{{user|json}}</p>
<h4>Person</h4>
<p>{{person}}</p>
<p>{{person|json}}</p>
<p>{{person.name}}</p>
<p>{{person.age}}</p>
<p>{{person|json}}</p>
<h4>dob</h4>
<p>{{dob|date}}</p>
<p>{{dob|date:'yyyy-MM-yy'}}</p>
<p>{{dob|date:'full'}}</p>
<p>{{dob|date:'short'}}</p>
<p>{{dob|date:'fullDate'}}</p>
<p>{{dob|date:'shortDate'}}</p>

<h4>name</h4>
<input [(ngModel)]="name">







