<div>

    <form [formGroup]="loginForm">
        <h4>Sign In</h4><br>
<!--         
        <input type="text"placeholder="Email address"><br> -->
        <input formControlName="email"><br>
        <!-- <input type="text"placeholder="password"><br> -->
        <input formControlName="password"><br>
        <input type="checkbox" style="width:20px">
            <span>Remember password</span><br>
            

        <!-- <button class="signin" routerLink="/dashboard">Sign In</button><br><hr> -->
        <button (click)="signin()">signin</button><br>
        <button style="background-color: rgb(244, 19, 30);"><a href="https://mail.google.com/mail/u/0/#inbox" target="blank" class="signintext">sign in with google> </a></button><br>
        <button style="background-color: rgb(32, 81, 240);" ><a href="https://www.facebook.com/" target="blank" class="facebooktext">sign in with facebook</a></button>

    </form>

</div>     
