<p>createaccount works!</p>
<form [formGroup]="accountsForm" >
<label>createaAt</label>
<input formControlName="createaAt"><br>
<label>account_name</label>
<input formControlName="account_name"><br>
<label>available_balance</label>
<input formControlName="available_balance"><br>
<label>currency</label>
<input formControlNmae="currency"><br>
<label>account_number</label>
<input formControlName="account_number">
<button (click)=submit()>submit</button>

<label>card</label>
<div formArrayName="card">
    <div *ngFor ="let card of cardFormArray.controls;let i=index">
        <div formGroupName="{{i}}">
            <label>cardno</label>
            <input formControlName="cardno"><br>
            <label>expiry</label>
            <input formControlName="expiry"><br>
            <label>cvv</label>
            <input formControName="cvv">
        </div>
        <button (click)="delete(i)">delete</button>
    </div>
</div>
<button (click)="submit()">submit</button>
<button (click)="add()">add</button>
</form>