<p>employeedetails works!</p>

<p>createemployee works!</p>

<pre>{{employee|json}}</pre>

<div class="row row-header">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>name</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.name}}</h5>
    </div>
</div>    
<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>mobile</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.mobile}}</h5>
    </div>
</div>  

<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>email</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.email}}</h5>
    </div>
</div> 
<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>dob</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.dob}}</h5>
    </div>
</div> 

<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>address</h5>

    </div>
    <div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.address.addressline}}</h5>
    </div>
</div>      

<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>city</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.address.city}}</h5>
    </div>
    </div>
</div> 

<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>state</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.address.state}}</h5>
    </div>
</div> 

<div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>pincode</h5>
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 col-12 userdetails-col">
        <h5>{{employee.address.pincode}}</h5>
    </div>
</div> 

<div class="row">
    <label>education</label>
</div>


<table class="tabel">
    <thead>
        <tr>
            <th>qualification</th>
            <th>year</th>
            <th>percentage</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let education of employee.education">
            <td>{{education.qualification}}</td>
            <td>{{education.year}}</td>
            <td>{{education.percentage}}</td>


        </tr>
    </tbody>

</table>

