<p>allemployees works!</p>
<table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>mobile</th>
            <th>email</th>
            <th>dob</th>
            <th>address</th>
            <th>education</th>
        </tr>
    </thead>
    <tbody>        
        <tr *ngFor = "let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.email}}</td>     
            <td>{{employee.dob}}</td>
            <td>{{employee.address|json}}</td>
            <td>{{employee.education</td>
            <td><button (click)="view(employee.id)">view</button>
            <td><button (click)="edit(employee.id)">edit</button>
            </td>
        </tr>
    </tbody>
</table>
