<!-- <p>sheet works!</p>
<div>
    <button (click)="refund()">refund</button>
    <button (click)="update custom fields">update custom fields</button>
    <table>
        <thead>
            <tr>
                <th>payment information</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let sheet of sheets">
            <tr>
            
                <td>{{sheet.mode}}</td>
                <td>{{sheet.creditcard}}</td>

            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>

    </table>
</div> -->
<pre>{{details}}|json</pre>