
        <div class="parent">
            <div class="left">
                <img src="/assets/fitness.webp">
                <h5>Ken Kalil</h5>
                <p>kneck@gmail.com</p><hr>
                <h6 class="aa" routerLink="interpolation">interpolation</h6><br>
                <h6 routerLink="eventbinding">event binding</h6><br>
                <h6 routerLink="apps">apps</h6><br>
                <h6 routerLink="vehiclesummary">vehicle summary</h6><br>
                <h6 routerLink="home">home</h6><br>
                <h6 routerLink="accounts">accounts</h6><hr><br>
                <h6 routerLink="products">products</h6><hr><br>
                <h6 routerLink="createvehicle">createvehicle</h6><hr><br>
                <h6 routerLink="createaccount">createaccount</h6><hr><br>


                
                <button class="but" routerLink="/logout">Log out</button>
            
            </div>
            <div class="right">
                
                <router-outlet></router-outlet>
                
            </div>
                
        </div>
